/* satisty */
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

/* canarell */
@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
    font-family: "Satisfy", cursive;
    /* font-family: "Cantarell", sans-serif; */
    text-align: center;
}

.cover {
    width: 100%;
}

.cover1 {
    background: url("./images/cover.jpg");
    height: 630px;
    color: #fff;
    padding: 50px;
}

.main-title {
    font-size: 96px;
}

.sub-title {
    font-size: 36px;
}

.cover2 {
    background: url("./images/cover2.jpg");
    height: 500px;
    color: #fff;
    display: flex;
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 80px;
}

.cover2-title1 {
    font-size: 72px;
}

.cover2-title2 {
    font-size: 40px;
}

.cover2-title3 {
    font-size: 22px;
}

.continents-container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.continents {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.continent-title {
    font-size: 54px;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    cursor: pointer;
}

.lighthouse-card {
    display: flex;
    justify-content: center;
    width: 48%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #0176b5;
    overflow: hidden;

    transition: all ease-in-out 0.3s;
}

.lighthouse-card:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
}

.lighthouse-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all ease-in-out 0.3s;
}

.asia-1 {
    background-image: url("./images/galle-lighthouse.jpg");
}

.asia-2 {
    background-image: url("./images/bolinao.jpg");
}

.asia-3 {
    background-image: url("./images/al-ayjah.jpg");
}

.asia-4 {
    background-image: url("./images/aguada.jpg");
}

.europe-1 {
    background-image: url("./images/golloway.jpg");
}

.europe-2 {
    background-image: url("./images/porer.jpg");
}

.europe-3 {
    background-image: url("./images/twar\ mawr.jpg");
}

.europe-4 {
    background-image: url("./images/kallur.jpg");
}

.lighthouse-image img {
    width: 300px;
    height: 300px;
}
.lighthouse-text {
    width: 100%;
    padding: 10px 20px;
    text-align: left;
}

.lighthouse-text h3 {
    margin-top: 20px;
    font-size: 28px;
    margin-bottom: 10px;
}

.lighthouse-text h4 {
    font-size: 18px;
    font-family: "Cantarell", sans-serif;
}

.lighthouse-text p {
    margin-top: 20px;
    font-size: 15px;
    font-family: "Cantarell", sans-serif;
}

.lighthouse-button {
    display: flex;
    justify-content: flex-end;
}

.lighthouse-button button {
    color: #fff;
    margin-top: 20px;
    background-color: #002d46;
    border: 1px solid #002d46;
    border-radius: 50px;
    cursor: pointer;
    padding: 8px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
    font-size: 12px;
    transition: all ease-in-out 0.3s;
}

.lighthouse-button button:hover {
    background-color: white;
    color: black;
    border: 1px solid #002d46;
}

footer {
    background-color: #002d46;
    color: #fff;
    display: flex;
    padding: 50px;
    text-align: left;
    justify-content: space-between;
}

footer ul {
    list-style-type: none;
}

footer ul a {
    color: #fff;
    font-family: "Cantarell", sans-serif;
    text-decoration: none;
}

.footer-left,
.footer-right {
    width: 50%;
}

.footer-right {
    text-align: right;
}

.footer-center {
    width: 100%;
}

.footer-right p {
    font-family: "Cantarell", sans-serif;
    cursor: pointer;
}

.footer-center {
    font-family: "Cantarell", sans-serif;
    font-size: 10px;
    text-align: center;
}

.footer-bottom {
    padding: 10px;
    border-top: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cantarell", sans-serif;
}

.footer-bottom span {
    font-style: italic;
    /* text-decoration: underline; */
    cursor: pointer;
}

@media (max-width: 1200px) {
    .main-title {
        padding-top: 40px;
        font-size: 60px;
    }

    .sub-title {
        font-size: 24px;
    }

    .cover1 {
        padding: 10px;
    }

    .continents {
        padding: 20px;
    }

    .lighthouse-card {
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
        background-color: #f1fafe;
    }

    .lighthouse-image {
        height: 300px;
        width: 100%;
    }

    .lighthouse-text {
        padding: 10px;
    }

    footer {
        flex-direction: column;
        padding: 20px;
    }

    footer h1 {
        font-size: 18px;
    }

    .continent-title {
        font-size: 38px;
    }

    .lighthouse-text h3 {
        font-size: 20px;
    }

    .lighthouse-text h4 {
        font-size: 14px;
    }

    .lighthouse-text p {
        font-size: 12px;
    }

    footer {
        padding: 10px 20px;
    }

    footer ul a {
        font-size: 12px;
    }

    .footer-left,
    .footer-right,
    .footer-center {
        width: 100%;
        text-align: left;
    }

    .footer-left {
        margin-bottom: 10px;
    }

    .footer-right p {
        font-size: 12px;
    }

    .footer-center {
        font-size: 10px;
        text-align: left;
        display: none;
    }

    .footer-bottom {
        font-size: 10px;
    }
}
